.MainCont{
    background: white;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.0.16);
    border: 1px solid #bababa;
    padding: 10px;
    min-height: 85vh;

}

.title{
text-align: center;
color: #333333;
cursor: pointer;
font-weight: bold;
font-size: 26px;
}
.title:hover{
    color:#6842bc
}
.divStyles{
    font-family: 'Arial';
    text-align: center;
    margin-top:30px
}
.Imgdiv{
    text-align: center;
}

@media only screen and (max-width:560px){
    .ImgStyle{
        height: 150px;
        object-fit: cover;
        cursor: pointer;
    }
    
}
@media only screen and (min-width:561px){
    .ImgStyle{
        height: 250px;
        object-fit: cover;
        cursor: pointer;
    }
    
}
.SubTitle{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.SubTitle:hover ,.Number:hover, .DateLabel:hover{
    opacity: 0.9;
}
.Number{
    color: #f75f91;
    font-weight: 500;
    cursor: pointer;
    animation: blink 1s linear infinite;
}
@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }
.DateLabel{
    font-size: 18px;
    color: #737070;
    cursor: pointer;
}