
#root{
  background-image: url('./assets/image/bgfinal.png');
  background-repeat: repeat;
  min-height: 100%;
}
.ant-spin-dot-item{
  background-color: #6842bc;
}
.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused{
  border-color: #6842bc;
}
.ant-input-affix-wrapper:hover{
  border-color: #6842bc;
}
.ant-picker-focused{
  border-color: #6842bc;
  width: 100%;
}
.ant-picker:hover, .ant-picker-focused{
  border-color: #6842bc;
}
.ant-form-item-label > label {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  height: 32px;
  color: rgb(104 66 188);
  font-size: 14px;
  font-weight: 550;
}


.ant-btn-primary{
  background: #f75f91;
  cursor: pointer;
  border: 1px solid #f75f91;
}
.ant-btn-primary:hover{
  opacity: 0.9;
  background:#c35076;
  border: 1px solid #c35076;
}
.ant-btn-primary:focus{
  background:   #c35076;
  opacity: 0.9;
  border: 1px solid #c35076;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #f75f91;
  border-color:#c35076;
}

.MainCont{
  background: white;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.0.16);
  border: 1px solid #bababa;
  padding: 10px;
  min-height: 85vh;


}
.title{
  text-align: center;
  color: #333333;
  cursor: pointer;
  font-weight: bold;
  font-size: 22px;
  }
  .title:hover{
      color:#6842bc
  }
  .mll-20{
    margin-left: 20px;
  }

  .ant-input:hover{
    border-color: #6842bc;
  }
  .ant-input:focus, .ant-input-focused{
    border-color: #6842bc;
  }
  .DefBtn {
  margin-right: 8px;
}
.ant-divider-vertical {
  position: relative;
  top: -0.06em;
  display: inline-block;
  height: 0.9em;
  margin: 0 8px;
  vertical-align: middle;
  border-top: 0;
  border-left: 2px solid rgb(169 164 164) !important;
}
.mtt-20{
  margin-top: 20px;
}
.ant-list-item-meta-description {
  color: rgb(0 0 0 / 59%);
  font-size: 14px;
  line-height: 1.5715;
}
.ant-list-item-meta-title h4{
  margin-bottom: 3px;
  color: #6842bc;
  cursor: pointer;
}
.ant-list-item-meta-title h6:hover{
  opacity: 0.9;
}
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  color: #fff;
  background: #8143ad !important;
}

.ant-alert-info {
  text-align: center;
  background-color: #f1e9f4 !important;
  border: 1px solid #8663d5 !important;
}

@media only screen and (max-width:400px){
  .ant-picker-date-panel .ant-picker-content th {
    width: 30px;
}

}

.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
  border-right-color: #6842bc !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
  color: #6842bc !important;
  border-color: #9891a8 !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
  border-color: #6842bc !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  z-index: 1;
  color: #6842bc !important;
  background: #fff;
  border-color: #6842bc !important;
}