
#root{
  background-image: url('./assets/image/bgfinal.png');
  background-repeat: repeat;
  height: 100%;
}
.ant-spin-dot-item{
  background-color: #6842bc;
}
.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused{
  border-color: #6842bc;
}
.ant-input-affix-wrapper:hover{
  border-color: #6842bc;
}
.ant-picker-focused{
  border-color: #6842bc;
  width: 100%;
}
.ant-picker:hover, .ant-picker-focused{
  border-color: #6842bc;
}
.ant-form-item-label > label {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  height: 32px;
  color: rgb(104 66 188);
  font-size: 14px;
  font-weight: 550;
}


.ant-btn-primary{
  background: #f75f91;
  cursor: pointer;
  border: 1px solid #f75f91;
}
.ant-btn-primary:hover{
  opacity: 0.9;
  background:#c35076;
  border: 1px solid #c35076;
}
.ant-btn-primary:focus{
  background:   #c35076;
  opacity: 0.9;
  border: 1px solid #c35076;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #f75f91;
  border-color:#c35076;
}

.MainCont{
  background: white;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.0.16);
  border: 1px solid #bababa;
  padding: 10px;
  min-height: 85vh;


}
.title{
  text-align: center;
  color: #333333;
  cursor: pointer;
  font-weight: bold;
  font-size: 22px;
  }
  .title:hover{
      color:#6842bc
  }
  .mll-20{
    margin-left: 20px;
  }